card {
  background: $color-accent-primary;
  border: $size-border solid $color-accent-dark;
  box-shadow: $shadow-2dp;
  border-radius: 0.5rem;
  display: block;
  margin: 4rem auto;
  padding: 0.5rem;
  position: relative;
  width: 30rem;
}
.card__title {
  font-size: 4em;
  margin: -3rem 0 0 0;
  text-align: center;
  -webkit-text-stroke: $size-border $color-accent-dark;
}
.card__content {
  margin: 0;
  text-align: center;
}