//
  Index Page
  by Una Ada
  v0.1.2
doctype html 
html(lang="en")
  head
    title Aokan
    // Scripts
    script(src="/js/client.js" type="module")
    // Stylesheets
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(
      rel="stylesheet"
      href="//fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@900"
    )
  body
    h1 青姦
    h2 For when you totally recognize that voice.
