extends layout
block content
  card
    h1.card__title 青姦
    p.card__content
      | A tool to help you figure out why you recognize that character's voice.
    form.form--single-field
      .text-field
        .text-field__responder
        input.text-field__input(
          type="text"
          placeholder="MAL Username"
        )
      input.form__submit.material-icons(
        type="submit"
        value="check"
      )
