extends layout

block content
  h1 青姦
  p
    | A tool to help you figure out why you recognize that character's voice.
    | Using the unofficial 
    a(href="https://myanimelist.net/") MyAnimeList
    |  API, 
    a(href="https://jikan.moe/") Jikan
    | . Created by 
    a(href="https://github.com/una-ada") Una Ada
    | .
