doctype html 
html(lang="en")
  head
    title Aokan
    // Scripts
    script(src="/js/client.js" type="module")
    // Stylesheets
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    - var notoSans = "family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700";
    - var notoJP = "family=Noto+Sans+JP:wght@900"
    link(
      rel="stylesheet"
      href=`//fonts.googleapis.com/css2?${notoSans}&${notoJP}`
    )
    link(rel="stylesheet" href="/styles/style.css")
  body
    block content
