.form--single-field {
  border-radius: 0.5rem;
  box-shadow: $shadow-2dp;
  display: flex;
  transition: box-shadow 0.5s;
  .text-field {
    border-radius: 0.5rem 0 0 0.5rem;
    flex: 1;
  }
  .text-field__input {
    border-radius: 0.5rem 0 0 0.5rem;
  }
  .form__submit {
    border-radius: 0 0.5rem 0.5rem 0;
    flex: 0;
  }
  &:focus-within {
    box-shadow: $shadow-8dp;
  }
}
.text-field {
  background: $color-accent-secondary;
  border-radius: 0.5rem;
  height: 35px;
  position: relative;
}
.text-field__responder {
  background: $color-accent-primary;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.text-field__input {
  background: transparent;
  border: $size-border solid $color-accent-dark;
  border-radius: 0.5rem;
  color: $color-accent-dark;
  font-family: $font-copy;
  font-weight: bold;
  left: 0;
  height: calc(100% - 26px);
  outline: 0;
  padding: 10px;
  position: absolute;
  top: 0;
  width: calc(100% - 26px);
}
.form__submit {
  background: $color-accent-dark;
  border: 0;
  border-radius: 0.5rem;
  color: $color-text;
  cursor: pointer;
  font-size: 20px !important;
  height: 35px;
  line-height: 35px;
  outline: 0;
  text-align: center;
  width: 35px;
}
::placeholder {
  color: rgba($color-accent-primary, 0.7);
  opacity: 1;
}
