/*
 * Aokan Styles Index
 * by Una Ada <una@anarchy.website>
 * 2021.06.27
 */
/*----- Constants ------------------------------------------------------------*/
/*----- Agent Overrides ------------------------------------------------------*/
a {
  color: #0a2619;
  background: linear-gradient(0, #145c62 20%, rgba(0, 0, 0, 0) 20%);
  display: inline-block;
  position: relative;
  text-decoration: none;
  z-index: 100;
}
a::before {
  background: #145c62;
  bottom: 0;
  content: "";
  height: 0;
  left: 0;
  position: absolute;
  transition: height 0.2s;
  width: 100%;
  z-index: -100;
}
a:hover::before {
  height: 60%;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Noto Sans JP", "Noto Sans", sans-serif;
  font-weight: 900;
}

html {
  background: #729a89 url("../img/background.png");
  background-attachment: fixed;
  background-position: center center;
  color: #0a2619;
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
}