/*
 * Aokan Styles Index
 * by Una Ada <una@anarchy.website>
 * 2021.06.27
 */

/*----- Constants ------------------------------------------------------------*/
$font-heading: 'Noto Sans JP', 'Noto Sans', sans-serif;
$font-copy: 'Noto Sans', sans-serif;
$color-accent-primary: #729a89;
$color-accent-dark: #145c62;
$color-accent-secondary: #e0c1bf;
$color-none: rgba(0, 0, 0, 0);
$color-text: #e0c1bf;
$size-em: 12pt;
$size-border: 3px;

/*----- Agent Overrides ------------------------------------------------------*/
a {
  color: $color-text;
  background: linear-gradient(0, $color-accent-dark 20%, $color-none 20%);
  display: inline-block;
  position: relative;
  text-decoration: none;
  z-index: 100;
  &::before {
    background: $color-accent-dark;
    bottom: 0;
    content: '';
    height: 0;
    left: 0;
    position: absolute;
    transition: height 0.2s;
    width: 100%;
    z-index: -100;
  }
  &:hover {
    &::before {
      height: 60%;
    }
  }
}
body {
  margin: 0;
  padding: 0;
}
h1 {
  font-family: $font-heading;
  font-weight: 900;
}
html {
  background: $color-accent-primary url('../img/background.png');
  background-attachment: fixed;
  background-position: bottom left;
  color: $color-text;
  font-family: $font-copy;
  font-size: $size-em;
  font-weight: bold;
}

/*----- Imports --------------------------------------------------------------*/
@import 'blocks';
