/*
 * Aokan Styles Index
 * by Una Ada <una@anarchy.website>
 * 2021.06.27
 */

/*----- Constants ------------------------------------------------------------*/
$val-accent-primary: 114 154 137;
$val-accent-dark: 20 92 98;
$val-accent-secondary: 224 193 191;
$color-accent-primary: rgb($val-accent-primary);
$color-accent-dark: rgb($val-accent-dark);
$color-accent-secondary: rgb($val-accent-secondary);
$color-none: rgba(0, 0, 0, 0);
$color-text: $color-accent-secondary;
$font-heading: 'Noto Sans JP', 'Noto Sans', sans-serif;
$font-copy: 'Noto Sans', sans-serif;
$shadow-2dp: 0 1px 5px 0 rgba(rgb($val-accent-dark), 0.2),
  0 2px 2px 0 rgba(rgb($val-accent-dark), 0.14),
  0 3px 1px -2px rgba(rgb($val-accent-dark), 0.12);
$shadow-8dp: 0 5px 5px -3px rgba(rgb($val-accent-dark), 0.2),
  0 8px 10px 1px rgba(rgb($val-accent-dark), 0.14),
  0 3px 14px 2px rgba(rgb($val-accent-dark), 0.12);
$shadow-16dp: 0 8px 10px -5px rgba(rgb($val-accent-dark), 0.2),
  0 16px 24px 2px rgba(rgb($val-accent-dark), 0.14),
  0 6px 30px 5px rgba(rgb($val-accent-dark), 0.12);
$size-em: 12pt;
$size-border: 3px;

/*----- Agent Overrides ------------------------------------------------------*/
a {
  color: $color-text;
  background: linear-gradient(0, $color-accent-dark 20%, $color-none 20%);
  display: inline-block;
  position: relative;
  text-decoration: none;
  z-index: 100;
  &::before {
    background: $color-accent-dark;
    bottom: 0;
    content: '';
    height: 0;
    left: 0;
    position: absolute;
    transition: height 0.2s;
    width: 100%;
    z-index: -100;
  }
  &:hover {
    &::before {
      height: 60%;
    }
  }
}
body {
  margin: 0;
  padding: 0;
}
h1 {
  font-family: $font-heading;
  font-weight: 900;
}
html {
  background: $color-accent-primary url('../img/background.png');
  background-attachment: fixed;
  background-position: bottom left;
  color: $color-text;
  font-family: $font-copy;
  font-size: $size-em;
  font-weight: bold;
}

/*----- Imports --------------------------------------------------------------*/
@import 'blocks';
